@import '../../../public/constants/colors.module.scss';

.userInput {
    display: flex;
    gap: 5px;
}

.username {
    font-weight: bold;
    padding: 5px;
}

.textArea {
    height: auto;
    flex-grow: 1;
    background-color: unset;
    border-bottom: 1px solid $light-blue;
    color: white;
    padding: 5px;
}